{% extends 'base.html' %}

{% block content %}
<h2>Likes You 🐢</h2>

{% if likes %}
  {% for like in likes %}
    {% with letter=like.from_profile.letter_set.last %}
      <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <h4>Letter 💌</h4>

        {% if letter.letter_type == "text" %}
          <p>{{ letter.text_content }}</p>

        {% elif letter.letter_type == "image" %}
          {% for img in letter.images.all %}
            <img src="{{ img.image.url }}" width="200" />
          {% endfor %}

        {% elif letter.letter_type == "pdf" %}
        <embed src="{{ letter.pdf.url }}" type="application/pdf" width="100%" height="350px" style="border: 1px solid #ccc; border-radius: 6px;" />
        {% endif %}

        <form method="post" action="{% url 'like_back' like.from_profile.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit">❤️ Like Back</button>
        </form>
        <form method="post" action="{% url 'reject_like' like.from_profile.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit">❌ Skip</button>
        </form>
      </div>
    {% endwith %}
  {% endfor %}
{% else %}
  <p>No one has liked you yet. Be patient 🐢</p>
{% endif %}
{% endblock %}
